<ion-searchbar></ion-searchbar>
<ion-list style="margin-left: 5px;margin-right: 5px;" *ngFor="let op of codelist;">
    <ion-row class="rawcss" style="margin-left: 5px;margin-right: 5px;" >
   <!-- <ion-col size="2">
        <input type="checkbox" (click)="clickItem(item); $event.stopPropagation();" [ngmodel]="item.checked">
   </ion-col> -->
        <ion-col>
            <ion-item> 
            <ion-label style="margin-left: 30px;white-space: inherit;">
                <h3><b>OpCode:</b> {{op.OpCode}}</h3>
                <h4><b>Description:</b>{{op.Description}}</h4>
                <p>	Duration: {{op.Hours}}</p>
                <p>	Price: 	${{op.Sale}}</p>
              </ion-label>
              <ion-checkbox style="margin: -16px;" slot="start"  (ionChange)="SelectOP($event,op)"></ion-checkbox>
       </ion-item>
            </ion-col>
    </ion-row>    
      </ion-list>

  <ion-row style="margin-top: 8%;margin-right: 10px;margin-left: -16px;" class="btn">
      <ion-col size="5">
          <ion-button class="footerbtn" (click)="AddNewOPCode()" style="width: 50%;">Add New OPCode</ion-button>
      </ion-col>
      <ion-col size="5">
            <ion-button class="footerbtn" (click)="Next()" style="width: 50%;">Next</ion-button>
        </ion-col>
  </ion-row>

