
.header-ios ion-toolbar:last-child {
    --border-width: 0 0 0.55px;
    --background: #374767;
  }
  
  .header-md ion-toolbar:last-child {
    --border-width: 0 0 0.55px;
    --background: #374767;
  }
.btncss{
    
    background-color: #009688;
    --background: #009688;
    font-size: 13px;
height: 28px;
    
}
.custom-popover .popover-content {
 position: static;
  }
.iconcss{
    font-size: 16px;
    margin-bottom: -4px;
    margin-right: 3px;
}
.rawcss{
    border-bottom: 1px solid #dddddd;
    padding: 2px;
    width: 100%
}

.footerbtn{
    --background: #009688;
}

ion-item {
    transition: .9s ease-in-out;
}

.exit-enter-styles {

    //opacity: 0;
     transform: translate3d(30px, 30px,10px);

}
.inputcss{
    border: 1px solid #dddddd;
    border-radius: 5px;
    text-align: center;
    height: 36px;
}

ion-item{
    --inner-padding-end: 0px;
    --padding-start:0px
}