<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="ios-arrow-back" style="color: #ffffff"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size: 18px;color: #ffffff">Signature</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="userid">
  <div class="title">
    <h4 style="font-size: 16px;">
      <b>Draw your Signature</b>
    </h4>
  </div>
  <ion-row [ngClass]="{'drawing-active': isDrawing}">

    <ion-col id="sign_canvas" style="border: 1px solid #b7b7b7;background: #f6fbff;">
      <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
    </ion-col>

  </ion-row>

  <ion-row class="btnClass" style="text-align: center;" *ngIf="!Page">
    <ion-col class="saveBtnClass" size="4" style="text-align: start;">
      <ion-button ion-button full (click)="prev()" style="--background: #374767;width: 100%;height: 45px">Prev</ion-button>
    </ion-col>
    <ion-col class="clearBtnClass" size="4" style="text-align: end;">
      <ion-button ion-button full (click)="clearPad()" style="--background: #374767;width: 100%;height: 45px">Clear</ion-button>
    </ion-col>
    <ion-col class="saveBtnClass" size="4" style="text-align: center;">
      <ion-button ion-button full (click)="savePad()" style="--background: #374767;width: 100%;height: 45px">Save</ion-button>
    </ion-col>
    <!-- <ion-col class="saveBtnClass" size="3" style="text-align: start;">
          <ion-button ion-button full (click)="finish()" style="--background: #374767;width: 60%">Finish</ion-button>
        </ion-col> -->
  </ion-row>

  <ion-row class="btnClass" style="text-align: center;" *ngIf="Page">
    <ion-col class="saveBtnClass" size="6" style="text-align: start;">
      <ion-button ion-button full (click)="prev()" style="--background: #374767;width: 100%;height: 45px">Prev</ion-button>
    </ion-col>

    <ion-col class="saveBtnClass" size="6" style="text-align: start;">
      <ion-button ion-button full (click)="savePad()" style="--background: #374767;width: 100%;height: 45px">Save</ion-button>
      <!-- <ion-button ion-button full (click)="finish()" style="--background: #009688;width: 100%;">Finish</ion-button> -->
    </ion-col>
  </ion-row>
</ion-content>