.header-ios ion-toolbar:last-child {
    --border-width: 0 0 0.55px;
    --background: #374767;
  }
  
  .header-md ion-toolbar:last-child {
    --border-width: 0 0 0.55px;
    --background: #374767;
  }
  
  select-icon-inner {
    left: -5px;
    margin-top: -6px;
    border-top: 14px solid;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
  }
  
  .popover-content {
    min-width: 90% !important;
    }