
    <ion-row class="rawcss">
        <ion-col ion-item size="6" class="colcss">
          <ion-label class="labelcss">First Name</ion-label>
        </ion-col>
        <ion-col ion-item size="6">
          <ion-input type='text' placeholder='First Name' [(ngModel)]='fname' class="inputcss"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="rawcss"> 
        <ion-col ion-item size="6" class="colcss">
          <ion-label class="labelcss">Last Name</ion-label>
        </ion-col>
        <ion-col ion-item size="6">
          <ion-input type='text' placeholder='Last Name' [(ngModel)]='lname' class="inputcss"></ion-input>
        </ion-col>
      </ion-row>  
      <ion-row class="rawcss">
        <ion-col ion-item size="6" class="colcss">
          <ion-label class="labelcss">Street Address </ion-label>
        </ion-col>
        <ion-col ion-item size="6">
          <ion-input type='text' placeholder='Street Address ' [(ngModel)]='saddress' class="inputcss"></ion-input>
        </ion-col>
      </ion-row>  
      <ion-row class="rawcss">
        <ion-col ion-item size="6" class="colcss">
          <ion-label class="labelcss">Street Address 1</ion-label>
        </ion-col>
        <ion-col ion-item size="6">
          <ion-input type='text' placeholder='Street Address 1' [(ngModel)]='saddress1' class="inputcss"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="rawcss">
        <ion-col ion-item size="6" class="colcss">
          <ion-label class="labelcss">Country</ion-label>
        </ion-col>
        <ion-col ion-item size="6">
            <ion-select placeholder="Country" class="selectcss" (ionChange)="ChangeCountry($event)" value="{{countryid}}">
              <ion-select-option value="{{c.CountryId}}" *ngFor="let c of country">{{c.CountryName}}</ion-select-option>
            </ion-select>                      
        </ion-col>
      </ion-row>
      <ion-row class="rawcss">
          <ion-col ion-item size="6" class="colcss">
            <ion-label class="labelcss">State</ion-label>
          </ion-col>
          <ion-col ion-item size="6">
              <ion-select placeholder="State"  class="selectcss" (ionChange)="ChangeState($event)" value="{{stateid}}">
                <ion-select-option value="{{s.StateId}}" *ngFor="let s of state">{{s.StateName}}</ion-select-option>
              </ion-select>                      
          </ion-col>
        </ion-row>
        <ion-row class="rawcss">
            <ion-col ion-item size="6" class="colcss">
              <ion-label class="labelcss">City</ion-label>
            </ion-col>
            <ion-col ion-item size="6">
                <ion-select placeholder="City"  class="selectcss" (ionChange)="ChangeCity($event)" value="{{cityid}}">
                  <ion-select-option value="{{cities.CityId}}" *ngFor="let cities of city">{{cities.CityName}}</ion-select-option>
                </ion-select>                      
            </ion-col>
          </ion-row>
          <ion-row class="rawcss">
              <ion-col ion-item size="6" class="colcss">
                <ion-label class="labelcss">Zipcode</ion-label>
              </ion-col>
              <ion-col ion-item size="6">
                <ion-input type='text' placeholder='Zipcode' [(ngModel)]='zipcode' class="inputcss"></ion-input>
              </ion-col>
          </ion-row>
          <ion-row class="rawcss">
                <ion-col ion-item size="6" class="colcss">
                  <ion-label class="labelcss">Mobile No. </ion-label>
                </ion-col>
                <ion-col ion-item size="6">
                  <ion-input type='text' placeholder='Mobile No.' [(ngModel)]='mobile' class="inputcss"></ion-input>
                </ion-col>
          </ion-row>
          <ion-row class="rawcss">
                  <ion-col ion-item size="6" class="colcss">
                    <ion-label class="labelcss">Work Phone</ion-label>
                  </ion-col>
                  <ion-col ion-item size="6">
                    <ion-input type='text' placeholder='Work Phone' [(ngModel)]='workphone' class="inputcss"></ion-input>
                  </ion-col>
          </ion-row>
          <ion-row class="rawcss">
                <ion-col ion-item size="6" class="colcss">
                  <ion-label class="labelcss">Home Phone</ion-label>
                </ion-col>
                <ion-col ion-item size="6">
                  <ion-input type='text' placeholder='Home Phone' [(ngModel)]='homephone' class="inputcss"></ion-input>
                </ion-col>
              </ion-row>
           <ion-row class="rawcss">
                <ion-col ion-item size="6" class="colcss">
                  <ion-label class="labelcss">Email</ion-label>
                </ion-col>
                <ion-col ion-item size="6">
                  <ion-input type='text' placeholder='Email' [(ngModel)]='email' class="inputcss"></ion-input>
                </ion-col>
              </ion-row>     
  
      <ion-row style="margin-top: 8%;margin-right: 10px;" class="btn">
        <ion-col>
            <ion-button expand="full" class="footerbtn" (click)="UpdateCustomerInfo()">Update</ion-button>
        </ion-col>
      </ion-row>

  
