
<ion-header>
    <ion-toolbar text-center>
        <ion-buttons slot="start"  (click)="closeModal()">
            <ion-icon ios="ios-close" md="md-close" style="font-size: 30px;color: #009688"></ion-icon>
          </ion-buttons>
      <ion-title style="color: #009688">{{modalTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>


    <ion-row class="rawcss">
        <ion-col ion-item size="6" class="colcss">
          <ion-label class="labelcss">Operation Code</ion-label>
        </ion-col>
        <ion-col ion-item size="6">
          <ion-input type='text' placeholder='Operation Code' [(ngModel)]='opcode' class="inputcss"></ion-input>
        </ion-col>
      </ion-row>

  <ion-row class="rawcss">
      <ion-col ion-item size="6" class="colcss">
        <ion-label class="labelcss">Sale</ion-label>
      </ion-col>
      <ion-col ion-item size="6">
        <ion-input type="tel" placeholder='Sale' [(ngModel)]='sale' class="inputcss"></ion-input>
      </ion-col>
    </ion-row>

  <ion-row class="rawcss">
      <ion-col ion-item size="6" class="colcss">
        <ion-label class="labelcss">Hours</ion-label>
      </ion-col>
      <ion-col ion-item size="6">
        <ion-input type="tel" placeholder='Hours' [(ngModel)]='hours' class="inputcss"></ion-input>
      </ion-col>
    </ion-row>

<ion-row class="rawcss">
    <ion-col ion-item size="6" class="colcss">
      <ion-label class="labelcss">Description</ion-label>
    </ion-col>
    <ion-col ion-item size="6">
      <ion-input type='text' placeholder='Description' [(ngModel)]='desc' class="inputcss"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top: 8%;margin-right: 10px;">
      <ion-col>
          <ion-button expand="full" class="footerbtn" (click)="Submit()">
            Submit
          </ion-button>
      </ion-col>
    </ion-row>
</ion-content>
