<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="ios-arrow-back" style="color: #ffffff"></ion-back-button>
        </ion-buttons>
      <ion-title style="color: #ffffff">Take Image</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  <ion-row class="rowcss scroll" style="background-image: url(../assets/imgs/c.png);margin-bottom: 20%">
  
   <ion-row class="rowone">
     <ion-col size="4">
       <ion-card>
          <ion-row>
          <img  crossOrigin = 'Anonymous' src="{{captureDataUrl1}}" class="imgcss" 
            (click)="openeditprofile('1')" onerror="this.onerror=null;this.src='../assets/imgs/dd.png';">
          </ion-row>
        <ion-row class="rowtwo">
            <ion-col class="colcss">
         Left Front
          </ion-col>
          </ion-row>
       </ion-card>
     </ion-col>
  
     <ion-col size="4">
        <ion-card>
            <ion-row>
           <img crossOrigin = 'Anonymous' src="{{captureDataUrl2}}" class="imgcss"
             (click)="openeditprofile('2')" onerror="this.onerror=null;this.src='../assets/imgs/dd.png';">
        </ion-row>
        <ion-row class="rowtwo">
            <ion-col class="colcss">
          Front
          </ion-col>
          </ion-row>
            </ion-card>
      </ion-col>
  
      <ion-col size="4">
          <ion-card>
              <ion-row>
             <img crossOrigin = 'Anonymous' src="{{captureDataUrl3}}" class="imgcss"
               (click)="openeditprofile('3')" onerror="this.onerror=null;this.src='../assets/imgs/dd.png';">
               </ion-row>
               <ion-row class="rowtwo">
                  <ion-col class="colcss">
               Right Front
                </ion-col>
                </ion-row>
              </ion-card>
        </ion-col>
   </ion-row>
  
  
  <ion-row class="rowone">
      <ion-col size="4">
        <ion-card>
            <ion-row>
           <img crossOrigin = 'Anonymous' src="{{captureDataUrl4}}" class="imgcss"
             (click)="openeditprofile('4')" onerror="this.onerror=null;this.src='../assets/imgs/dd.png';">
        </ion-row>
        <ion-row class="rowtwo">
            <ion-col class="colcss">
         Left Fender
          </ion-col>
          </ion-row>
            </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card style="visibility: hidden">
            <ion-row>
           <img crossOrigin = 'Anonymous' src="{{captureDataUrl4}}" class="imgcss"
             (click)="openeditprofile('4')" onerror="this.onerror=null;this.src='../assets/imgs/dd.png';">
        </ion-row>
        <ion-row class="rowtwo">
            <ion-col class="colcss">
         Left Fender
          </ion-col>
          </ion-row>
            </ion-card>
      </ion-col>
      <ion-col size="4">
         <ion-card>
            <ion-row>
            <img crossOrigin = 'Anonymous' src="{{captureDataUrl5}}" class="imgcss"
              (click)="openeditprofile('5')" onerror="this.onerror=null;this.src='../assets/imgs/dd.png';">
              </ion-row>
              <ion-row class="rowtwo">
                  <ion-col class="colcss">
               Right Fender
                </ion-col>
                </ion-row>
            </ion-card>
       </ion-col>   
    </ion-row>
  
    <ion-row class="rowone">
        <ion-col size="4">
          <ion-card>
              <ion-row>
             <img  crossOrigin = 'Anonymous' src="{{captureDataUrl6}}" class="imgcss"
               (click)="openeditprofile('6')" onerror="this.onerror=null;this.src='../assets/imgs/dd.png';">
               </ion-row>
               <ion-row class="rowtwo">
                  <ion-col class="colcss">
               Left Side
                </ion-col>
                </ion-row>
              </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card style="visibility: hidden">
              <ion-row>
             <img crossOrigin = 'Anonymous' src="{{captureDataUrl4}}" class="imgcss"
               (click)="openeditprofile('4')" onerror="this.onerror=null;this.src='../assets/imgs/dd.png';">
          </ion-row>
          <ion-row class="rowtwo">
              <ion-col class="colcss">
           Left Fender
            </ion-col>
            </ion-row>
              </ion-card>
        </ion-col>
        <ion-col size="4">
           <ion-card>
              <ion-row>
              <img crossOrigin = 'Anonymous' src="{{captureDataUrl7}}" class="imgcss"
                (click)="openeditprofile('7')" onerror="this.onerror=null;this.src='../assets/imgs/dd.png';">
              </ion-row>
              <ion-row class="rowtwo">
                 <ion-col class="colcss">
              Right Side
               </ion-col>
               </ion-row>
              </ion-card>
         </ion-col>     
      </ion-row>
  
      <ion-row class="rowone">
          <ion-col size="4">
            <ion-card>
                <ion-row>
               <img crossOrigin = 'Anonymous' src="{{captureDataUrl8}}" class="imgcss"
                 (click)="openeditprofile('8')" onerror="this.onerror=null;this.src='../assets/imgs/dd.png';">
                </ion-row>
                <ion-row class="rowtwo">
                   <ion-col class="colcss">
                Left OP
                 </ion-col>
                 </ion-row>
                </ion-card>
          </ion-col>
     
          <ion-col size="4">
            <ion-card style="visibility: hidden">
                <ion-row>
               <img crossOrigin = 'Anonymous' src="{{captureDataUrl4}}" class="imgcss"
                 (click)="openeditprofile('4')" onerror="this.onerror=null;this.src='../assets/imgs/dd.png';">
            </ion-row>
            <ion-row class="rowtwo">
                <ion-col class="colcss">
             Left Fender
              </ion-col>
              </ion-row>
                </ion-card>
          </ion-col>
     
           <ion-col size="4">
               <ion-card>
                  <ion-row>
                  <img crossOrigin = 'Anonymous' src="{{captureDataUrl9}}" class="imgcss"
                    (click)="openeditprofile('9')" onerror="this.onerror=null;this.src='../assets/imgs/dd.png';">
                  </ion-row>
                  <ion-row class="rowtwo">
                     <ion-col class="colcss">
                  Right OP
                   </ion-col>
                   </ion-row>
                  </ion-card>
             </ion-col>
        </ion-row>
  
        <ion-row class="rowone">
            <ion-col size="4">
              <ion-card>
                  <ion-row>
                 <img crossOrigin = 'Anonymous' src="{{captureDataUrl10}}" class="imgcss"
                   (click)="openeditprofile('10')" onerror="this.onerror=null;this.src='../assets/imgs/dd.png';">
                  </ion-row>
                  <ion-row class="rowtwo">
                     <ion-col class="colcss">
                  Left Rear
                   </ion-col>
                   </ion-row>
                  </ion-card>
            </ion-col>
       
            <ion-col size="4">
               <ion-card>
                  <ion-row>
                  <img  crossOrigin = 'Anonymous' src="{{captureDataUrl11}}" class="imgcss"
                    (click)="openeditprofile('11')" onerror="this.onerror=null;this.src='../assets/imgs/dd.png';">
                  </ion-row>
                  <ion-row class="rowtwo">
                     <ion-col class="colcss">
                   Rear
                   </ion-col>
                   </ion-row>
                  </ion-card>
             </ion-col>
       
             <ion-col size="4">
                 <ion-card>
                    <ion-row>
                    <img crossOrigin = 'Anonymous' src="{{captureDataUrl12}}" class="imgcss"
                      (click)="openeditprofile('12')" onerror="this.onerror=null;this.src='../assets/imgs/dd.png';">
                    </ion-row>
                    <ion-row class="rowtwo">
                       <ion-col class="colcss">
                    Right Rear
                     </ion-col>
                     </ion-row>
                    </ion-card>
               </ion-col>
          </ion-row>
       
   </ion-row>
  
  </ion-content>
  
  <ion-footer>
  <ion-toolbar>
    <ion-row>
      
      <ion-col>
        <ion-button    class="footerbtn" (click)="skip()" *ngIf="!Page">Skip</ion-button>
      </ion-col>
      <ion-col>
          <ion-button   class="footerbtn" (click)="Next()" *ngIf="!Page">Next</ion-button>
        </ion-col>
    </ion-row>
   
    <ion-button   class="footerbtn" (click)="Save()" *ngIf="Page">Save</ion-button>
  </ion-toolbar>
  </ion-footer>
  