<ion-content style="--background: #374767;" padding="true">

<!-- <p style="margin: 15px;margin-top: 97px;font-size: 23px;font-family: auto;">
<b>APPOINTMENT</b>
<br>
<span style="color: #009688">
  <b>SYSTEM</b>
</span>
</p>
<p style="margin: 15px;
font-size: 15px;color: #6d6c6c">Please enter your credentials to login.</p> -->

<ion-row style="justify-content: center">
  <img src="assets/imgs/hicon.png" style="height: 200px"/>
</ion-row>
<ion-row  style="margin-top: 5%;justify-content: center">
  <ion-label style="text-transform: none;font-style: italic;font-size: 40px;font-weight: 900;color: #fff">Sign In</ion-label>
</ion-row>
<form  [formGroup]="myForm" style="margin-top: 5%">
<br>
<ion-item color="newcolor" lines="none" style="border: #ddd 1px solid;border-radius: 4px">
    <ion-input style="color: #fff" class="inputcss" [(ngModel)]="username" name="username" type="text" placeholder="Enter Username" formControlName="username"></ion-input>
    <ion-icon name="person" slot="end" style="color: #fff"></ion-icon>
</ion-item>
<ion-item color="newcolor" lines="none" style="margin-top: 10px;border: #ddd 1px solid;border-radius: 4px">
    <ion-input style="color: white" class="inputcss" [(ngModel)]="password" name="password"  type="{{type}}" placeholder="Enter Password" formControlName="password"></ion-input>
    <ion-icon *ngIf="!showpass" name="eye" slot="end" style="color: #fff" (click)="showpassword()"></ion-icon>
    <ion-icon *ngIf="showpass" name="eye-off" slot="end" style="color: #fff" (click)="showpassword()"></ion-icon>
</ion-item>
<br>
</form>

<ion-row style="justify-content: center">
  <ion-item color="newcolor">
    <ion-label style="color: white">Remember me</ion-label>
    <ion-checkbox slot="start" color="dark" mode="md" (ionChange)="rememberme($event)" [(ngModel)]='isremember'></ion-checkbox>
  </ion-item>
</ion-row>

<!-- <ion-list lines="none" >
  <ion-row>
    <ion-col size="3">

    </ion-col>
    <ion-col size="8">
        <ion-item>
            <ion-label>Remember me</ion-label>
            <ion-checkbox slot="start" color="dark" mode="md" (ionChange)="rememberme($event)" [(ngModel)]='isremember'></ion-checkbox>
          </ion-item>
        </ion-col>
    <ion-col size="1">
      
      </ion-col>
  </ion-row>
  
</ion-list>
<br> -->
<ion-row style="margin-top: 3%;justify-content: center">
  <button class="btnsubmit" [disabled]="!isLogin()" (click)="Login()">Login</button>
</ion-row>
  

</ion-content>
