<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="--color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-icon (click)="reload()" name="md-refresh"></ion-icon>
      </ion-buttons>
    <ion-title>
        <img *ngIf="dealers" src="../assets/imgs/appointment.png">
        <span style="color: #fff;margin-left: 3px">PPOINTMENT </span>
    </ion-title>

    <!-- <ion-buttons slot="end">
        <ion-icon name="power" (click)="logout()" style="color: #ffffff;font-size: 30px;"></ion-icon>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="dealers">
        <ion-row>
        <ion-col>
            <p style="margin-left: 13px;    margin-top: 10px;">Dealership Name</p>      
        </ion-col>
        <ion-col>
            <ion-item lines="none">
                <ion-label>My Appointment</ion-label>
                <ion-checkbox color="primary" [(ngModel)]="ismyapp" (ionChange)="myapp($event)" slot="start"></ion-checkbox>
              </ion-item>
        </ion-col> 
       </ion-row>
     
        <ion-item *ngIf="isEnabled == 'false'" style="border: 1px solid #acadaf;margin-left: 10px;margin-right: 10px;border-radius: 10px;">
          <ion-select  value={{dealername}}   (ionChange)="ChangeDealership($event)"  style="max-width: 100% !important;width: 100%;font-size: 15px;margin-left: -10px;">
            <ion-select-option style = "white-space: normal;" *ngFor="let dealer of dealers" value="{{dealer.DealershipId}}">{{dealer.DealershipName}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="isEnabled == 'true'"  style="border: 1px solid #acadaf;margin-left: 10px;margin-right: 10px;border-radius: 10px;pointer-events: none">
          <ion-select  [selectedText]="dealer"  value={{dealername}}   (ionChange)="ChangeDealership($event)"  style="max-width: 100% !important;width: 100%;font-size: 15px;margin-left: -10px;">
            <ion-select-option style = "white-space: normal;" *ngFor="let dealer of dealers" value="{{dealer.DealershipId}}">{{dealer.DealershipName}}</ion-select-option>
          </ion-select>
        </ion-item>
     
        <!-- <ion-grid class="menu">
          <ion-row *ngFor="let row of grid;">
            <ion-col width-0 *ngFor="let data of row;">
                <ion-card (click)="selectoption(data.id)">
                  <ion-row  style="justify-content: center;">
                    
                    <img [src]="data.img" class="homeicon">
                   
                </ion-row>
                <ion-row  style="justify-content: center;">
                    <ion-label style="text-align: center;margin-top: 10px">{{data.data}}</ion-label>
                </ion-row>
                  </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>  -->
        <!-- (onAppointmentClick)='hidetool($event)' -->
        <dx-scheduler
        [dataSource]="appointmentsData"
        [views]='["day","week", "month"]'
        currentView="day"
        [currentDate]="currentDate"
        [startDayHour]=from
        [endDayHour]=to
        [height]="600"
        (onAppointmentDblClick)='bookSelectedAppointment($event)'
        (onAppointmentFormOpening)='empty($event)'
        (onOptionChanged)='change($event)'
        >
        </dx-scheduler>
        <ion-fab (click)="addapp()" horizontal="end" vertical="bottom" slot="fixed" edge>
            <ion-fab-button style="margin-bottom: 60px">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
            </ion-fab>
       
       
</ion-content>
