
.header-ios ion-toolbar:last-child {
    --border-width: 0 0 0.55px;
    --background: #374767;
  }
  
  .header-md ion-toolbar:last-child {
    --border-width: 0 0 0.55px;
    --background: #374767;
  }
  .footerbtn{
    //--background: #009688;
    --background: #374767;
    width: 100%;
    height: 45px;
}
.scroll {
    width: 100%;
    height: 100vh;
    margin-top: 5%;
    margin: 5px;
    margin-bottom: 30%;
}
canvas {
    border: 1px solid #333;
}
div.cn {
    position: relative;
    width: 500px;
    height: 500px;
    background: gray;
}

div.inner {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    background: gold;
    padding: 2rem;
}
img {
    border-radius: 50%;   
}
.commentText{
    position: absolute;
    top: 60px;
    left: 30px;
    color: white;
}
ion-footer {
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: 10; 
    display: block;
    width: 100%;
    text-align: center;
}
.rowcss{
//   background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

  background-color: #fff;
}
.rowone{
     //height: 110px;
     height: 160px;
    overflow: hidden;
}

.colcss{
    text-align: center;color: #fff;font-size: 13px;
}
.rowtwo{
    background: #757373;
}
.btn {
    position: fixed;
    left: 0;
    bottom: -23px;
    right: 0;
    z-index: 100;
}

ion-segment {
    padding: 0px 45px;
    position: relative;
  }
  
  ion-segment-button {
    border: 1px solid #488aff;
      width: 0%;
      height: 35px;
  }
  
  .segment-md .segment-button.activated,
  .segment-md .segment-button.segment-activated {
    border-color: #488aff;
    opacity: 1;
    background-color: #488aff;
    color: white;
  }
  
  .segment-ios .segment-button.activated,
  .segment-ios .segment-button.segment-activated {
    border-color: #488aff;
    opacity: 1;
    background-color: #488aff;
    color: white;
  }
  
@media only screen and (max-width: 767px) {
    /* For mobile phones: */
    .imgcss{
        border-radius: 0px;
    }

    .vcard{
        margin: 15px;border: 1px solid #000;border-radius: 6px
    }
    .vp{
        font-size: 40px;margin-right: 50px
    }
    .vr{
        font-size: 40px
    }
    .vimg{
        border-radius: 0%
    }
    .image{
        background-image: url(../../assets/imgs/cars.png);margin-bottom: 20%;background-position-y: 255px
    }
   
  }
  /* ----------- iPad  ----------- */
/* Portrait and Landscape */
@media only screen and (min-width: 768px) and (max-width: 1366px) {
    .imgcss{
    border-radius: 0px;
    height: 130px;
    width: 230px;
    }
    .sc-ion-card-ios-h {
        height: 213px;
        --background: var(--ion-item-background,transparent);
        --color: var(--ion-color-step-600,#666);
        margin-left: 16px;
        margin-right: 16px;
         margin-top: 0px; 
        margin-bottom: 0px;
        border-radius: 8px;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition: -webkit-transform .5s cubic-bezier(.12,.72,.29,1);
        transition: -webkit-transform .5s cubic-bezier(.12,.72,.29,1);
        transition: transform .5s cubic-bezier(.12,.72,.29,1);
        transition: transform .5s cubic-bezier(.12,.72,.29,1),-webkit-transform .5s cubic-bezier(.12,.72,.29,1);
        font-size: 14px;
        -webkit-box-shadow: 0 4px 16px rgba(0,0,0,.12);
        box-shadow: 0 4px 16px rgba(0,0,0,.12);
    }
    .vcard{
        margin: 10px;border: 1px solid #000;border-radius: 6px;height: 300px;width: 375px
    }
    .vp{
        font-size: 40px;position: absolute;
        top: calc(50% - 10px);
        left: calc(50% - 5px);
        color: white!important;
    }
    .vr{
        font-size: 40px;margin-top: -280px;
        position: absolute;
        color: white!important;
    }
    .vimg{
        border-radius: 0%;
        height:287px;
        position: relative;
        display: inline-block;
        //width: 400px;
    }
    .image{
        background-image: url(../../assets/imgs/cars.png);
        background-size: 265px;
    }
    // ion-label{
    //     font-style: italic;
    // }
}
 /* ----------- iPad Pro ----------- */
/*  Landscape */
@media (min-width: 1024px) and (max-width: 1366px)  {
    .imgcss{
        border-radius: 0px;
        height: 140px;
        width: 295px;
        }
        .sc-ion-card-ios-h {
            height: 213px;
            --background: var(--ion-item-background,transparent);
            --color: var(--ion-color-step-600,#666);
            margin-left: 16px;
            margin-right: 16px;
             margin-top: 0px; 
            margin-bottom: 0px;
            border-radius: 8px;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-transition: -webkit-transform .5s cubic-bezier(.12,.72,.29,1);
            transition: -webkit-transform .5s cubic-bezier(.12,.72,.29,1);
            transition: transform .5s cubic-bezier(.12,.72,.29,1);
            transition: transform .5s cubic-bezier(.12,.72,.29,1),-webkit-transform .5s cubic-bezier(.12,.72,.29,1);
            font-size: 14px;
            -webkit-box-shadow: 0 4px 16px rgba(0,0,0,.12);
            box-shadow: 0 4px 16px rgba(0,0,0,.12);
        }
        .vcard{
            margin: 10px;border: 1px solid #000;border-radius: 6px;height: 300px;width: 375px
        }
        .vp{
            font-size: 40px;position: absolute;
            top: calc(50% - 10px);
            left: calc(50% - 5px);
            color: white!important;
        }
        .vr{
            font-size: 40px;
            margin-top: -280px;
            position: absolute;
            color: white!important;
        }
        .vimg{
            border-radius: 0%;
            height:287px;
            position: relative;
            display: inline-block;
            //width: 400px;
        }
      
    .image{
        background-image: url(../../assets/imgs/cars.png);
        background-size: 265px;
        background-position-x:370px;
    }
}