<ion-list>
    <ion-radio-group>  
      <ion-item  *ngFor="let trasnaport of transportdata;let i = index;">
        <ion-label>{{trasnaport.TransportationName}}</ion-label>
        <ion-radio slot="start" color="primary" value={{trasnaport.TransportationName}} (ionSelect)="Selection(trasnaport.TransportationName);"></ion-radio>
        <!-- <ion-checkbox color="primary" checked={{trasnaport.TransportationName}}  slot="start"  (ionChange)="Selection(trasnaport.TransportationName);"></ion-checkbox> -->
      </ion-item>
      </ion-radio-group>
</ion-list>

<ion-row style="margin-top: 8%;margin-right: 10px;" class="btn">
    <ion-col>
        <ion-button expand="full" class="footerbtn" (click)="Next()">Next</ion-button>
    </ion-col>
</ion-row>