<ion-list >
    <ion-radio-group> 
    <ion-item *ngFor="let advisor of advisordata;let i = index;">
      <ion-label>{{advisor.AdvisorName}}</ion-label>
      <ion-radio slot="start" color="primary" value={{advisor.AdvisorId}} (ionSelect)="Selection(advisor.AdvisorId);"></ion-radio>
      <!-- <ion-checkbox color="primary" checked slot="start"></ion-checkbox> -->
    </ion-item>
    </ion-radio-group>
</ion-list>

<ion-row style="margin-top: 8%;margin-right: 10px;" class="btn">
  <ion-col>
      <ion-button expand="full" class="footerbtn" (click)="Next()">Next</ion-button>
  </ion-col>
</ion-row>