<ion-app>
    <ion-split-pane when="false" contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <!-- <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header> -->
      <ion-content class="sidemenu">
        <!-- <ion-list> -->
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-row (click)="Navigation(p.title)">
              <ion-col size="2" style="align-self: center"><ion-icon style="color: white;font-size: 25px" [name]="p.icon"></ion-icon></ion-col>
              <ion-col> <ion-label style="color: white;font-size: 20px">
                  {{p.title}}
                </ion-label></ion-col>
            </ion-row>
            <hr style="height:2px;border-width:0;color:gray;background-color:gray">
            <!-- <ion-item (click)="Navigation(p.title)">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item> -->
          </ion-menu-toggle>
        <!-- </ion-list> -->
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
