ion-menu {
    position: absolute!important;
    margin-top: 60px!important;
    //width: calc(100% + 60px) !important;
    background: transparent !important;
  }
  .sidemenu {
    margin-top: 0%;
    --background: rgba(55,71,103,1);
   // background-color: ;
    //background: #073357 !important;
   // background: linear-gradient(2000deg, #073357, transparent);
    // background-image: url("../assets/imgs/appbackground.jpg");
    // background-repeat: no-repeat;
    // background-size: cover;
  }

  // ion-label{
  //   font-style: italic;
  // }

  // ion-button{
  //   font-style: italic;
  // }