.footerbtn{
    --background: #009688;
}
.rawcss{
    border-bottom: 1px solid #d4d4d4;
}
.labelcss{
    padding-top: 14px;
    font-size: 15px;
}
.inputcss{
    font-size: 15px;
}
.colcss{
    padding: 14px;
}
.selectcss{
    font-size: 15px;
    margin-left: -14px;
}
.btn {
    position: fixed;
    left: 0;
    bottom: 10px;
    right: 0;
}
