<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="--color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-label style="color: #fff;">{{username}}</ion-label>
      <!-- <ion-icon (click)="reload()" name="md-refresh"></ion-icon> -->
    </ion-buttons>
    <ion-title>
      <img *ngIf="dealers" src="../assets/imgs/appicon.png" style="width: 95px;">
      <!-- <span style="color: #fff;margin-left: 3px">PPOINTMENT </span> -->
    </ion-title>

    <!-- <ion-buttons slot="end">
        <ion-icon name="power" (click)="logout()" style="color: #ffffff;font-size: 30px;"></ion-icon>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="dealers">


  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- slot="fixed" -->
  <div>
    <ion-row class="row1">
      <ion-col>
        <p style="margin-left: 13px;    margin-top: 10px;">Dealership Name</p>
      </ion-col>
      <ion-col *ngIf="ActiveSegment == 'app'">
        <ion-item lines="none">
          <ion-label>{{selecttxt}}</ion-label>
          <ion-checkbox color="primary" [(ngModel)]="ismyapp" (ionChange)="myapp($event)" slot="start"></ion-checkbox>
        </ion-item>
      </ion-col>
      <ion-col *ngIf="ActiveSegment == 'ro'">
        <ion-item lines="none">
          <ion-label>{{selecttxt}}</ion-label>
          <ion-checkbox color="primary" [(ngModel)]="ismyapp1" (ionChange)="myapp1($event)" slot="start"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-item *ngIf="isEnabled == 'false'" style="border: 1px solid #acadaf;margin-left: 10px;margin-right: 10px;border-radius: 10px;">
      <ion-select value={{dealername}} (ionChange)="ChangeDealership($event)" style="max-width: 100% !important;width: 100%;font-size: 15px;margin-left: -10px;">
        <ion-select-option style="white-space: normal;" *ngFor="let dealer of dealers" value="{{dealer.DealershipId}}">{{dealer.DealershipName}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="isEnabled == 'true'" style="border: 1px solid #acadaf;margin-left: 10px;margin-right: 10px;border-radius: 10px;pointer-events: none">
      <ion-select [selectedText]="dealer" value={{dealername}} (ionChange)="ChangeDealership($event)" style="max-width: 100% !important;width: 100%;font-size: 15px;margin-left: -10px;">
        <ion-select-option style="white-space: normal;" *ngFor="let dealer of dealers" value="{{dealer.DealershipId}}">{{dealer.DealershipName}}</ion-select-option>
      </ion-select>
    </ion-item>

    <div style="margin-top: 15px;">
      <ion-segment mode="ios" [(ngModel)]="ActiveSegment">
        <ion-segment-button value="app" (click)="Isapp()">
          <ion-label>Appointment</ion-label>
        </ion-segment-button>
        <ion-segment-button value="ro" (click)="Isro()">
          <ion-label>#RO</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
  </div>
  <!-- <ion-segment style="margin-top: 15px;" (ionChange)="segmentChanged($event)">
          <ion-segment-button value="friends">
            <ion-label>Appointment</ion-label>
          </ion-segment-button>
          <ion-segment-button value="enemies">
            <ion-label>RO</ion-label>
          </ion-segment-button>
        </ion-segment> -->

  <!-- <ion-grid class="menu">
          <ion-row *ngFor="let row of grid;">
            <ion-col width-0 *ngFor="let data of row;">
                <ion-card (click)="selectoption(data.id)">
                  <ion-row  style="justify-content: center;">
                    
                    <img [src]="data.img" class="homeicon">
                   
                </ion-row>
                <ion-row  style="justify-content: center;">
                    <ion-label style="text-align: center;margin-top: 10px">{{data.data}}</ion-label>
                </ion-row>
                  </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>  -->
  <!-- (onAppointmentClick)='hidetool($event)' -->
  <dx-scheduler *ngIf="ActiveSegment == 'app'" style="height: 100%; display: block;margin-top: 15px;" [dataSource]="appointmentsData"
    [views]='["day","week", "month"]' currentView="day" [currentDate]="currentDate" [startDayHour]=from [endDayHour]=to (onAppointmentDblClick)='bookSelectedAppointment($event)'
    (onAppointmentFormOpening)='empty($event)' (onOptionChanged)='change($event)'>
  </dx-scheduler>
  <div *ngIf="ActiveSegment == 'ro'">

    <ion-row>
      <ion-col size="3" style="margin-top: 10px;">
        <ion-label>Select Search Option</ion-label>
      </ion-col>

      <ion-col size="4">
        <ion-select [(ngModel)]="op" placeholder="Select Type" class="selectcss" style="margin-left: 0px;border: 1px solid #ddd">
          <ion-select-option value="fname">First Name</ion-select-option>
          <ion-select-option value="lname">Last name</ion-select-option>
          <ion-select-option value="cname">Company Name</ion-select-option>
          <ion-select-option value="vin">VIN</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col>
        <ion-input class="inputcss" style="height: 42px" type="text" placeholder="Enter value" [(ngModel)]="val"></ion-input>
      </ion-col>
      <ion-col>
        <ion-button (click)="search()">Search</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="clear()">Clear</ion-button>
      </ion-col>
    </ion-row>

    <ion-card *ngFor="let data of rodata; let i = index">
      <ion-row>
        <ion-col size="12">
          <ion-row>
            <ion-col size="5" style="align-self: center;">
              <ion-label style="font-weight: 700;color: black;">#RO : </ion-label>
            </ion-col>
            <ion-col size="7">
              <ion-label style="font-weight: 400;color: black;">{{data.PkRONumber}}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5" style="align-self: center;">
              <ion-label style="font-weight: 700;color: black;">Open Date : </ion-label>
            </ion-col>
            <ion-col size="7">
              <ion-label style="font-weight: 400;color: black;">{{data.OpenDate}}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5" style="align-self: center;">
              <ion-label style="font-weight: 700;color: black;">VIN : </ion-label>
            </ion-col>
            <ion-col size="7">
              <ion-label style="font-weight: 400;color: black;">{{data.VIN}}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5" style="align-self: center;">
              <ion-label style="font-weight: 700;color: black;">Year : </ion-label>
            </ion-col>
            <ion-col size="7">
              <ion-label style="font-weight: 400;color: black;">{{data.Year}}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5" style="align-self: center;">
              <ion-label style="font-weight: 700;color: black;">Make/Model : </ion-label>
            </ion-col>
            <ion-col size="7">
              <ion-label style="font-weight: 400;color: black;">{{data.Make}} {{data.Model}}</ion-label>
            </ion-col>
          </ion-row>
          <!-- <ion-row>
            <ion-col size="5" style="align-self: center;">
                <ion-label style="font-weight: 700;color: black;">Model : </ion-label>
              </ion-col>
              <ion-col size="7">
                  <ion-label style="font-weight: 400;color: black;">{{data.Model}}</ion-label>
                </ion-col>
        </ion-row> -->
          <ion-row>
            <ion-col size="5" style="align-self: center;">
              <ion-label style="font-weight: 700;color: black;">Customer Name : </ion-label>
            </ion-col>
            <ion-col size="7">
              <ion-label style="font-weight: 400;color: black;">{{data.CustomerName}}</ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="5" style="align-self: center;">
              <ion-label style="font-weight: 700;color: black;">Status : </ion-label>
            </ion-col>
            <ion-col size="7">
              <ion-label style="font-weight: 400;color: black;">{{data.Status}}</ion-label>
            </ion-col>
          </ion-row>
          <!-- <ion-row>
            <ion-col size="5" style="align-self: center;">
                <ion-label style="font-weight: 700;color: black;">Progress : </ion-label>
              </ion-col>
              <ion-col size="7">
                  <ion-label style="font-weight: 400;color: black;">{{data.Progress}}</ion-label>
                </ion-col>
          </ion-row> -->
        </ion-col>
        <!-- <ion-col col-5 style="text-align: center">
          <ion-label>Create RO</ion-label>
        </ion-col> -->
      </ion-row>

    </ion-card>


    <ion-infinite-scroll threshold="70%" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <ion-fab (click)="addapp()" horizontal="end" vertical="bottom" slot="fixed" edge>
    <ion-fab-button style="margin-bottom: 60px">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>