<ion-row class="rawcss">
    <ion-col ion-item size="6" class="colcss">
      <ion-label class="labelcss">VIN</ion-label>
    </ion-col>
    <ion-col ion-item size="6">
      <ion-input type='text' placeholder='VIN' [(ngModel)]='vin' class="inputcss" [readonly]="true"></ion-input>
    </ion-col>
  </ion-row>

<ion-row class="rawcss">
    <ion-col ion-item size="6" class="colcss">
      <ion-label class="labelcss">Year</ion-label>
    </ion-col>
    <ion-col ion-item size="6">
        <ion-select placeholder="Year" class="selectcss"  value="{{yearid}}" (ionChange)="ChangeYear($event)">
          <ion-select-option value="{{y.YearId}}"   *ngFor="let y of years">{{y.Year}}</ion-select-option>
        </ion-select>                      
    </ion-col>
  </ion-row>

<ion-row class="rawcss">
    <ion-col ion-item size="6" class="colcss">
      <ion-label class="labelcss">Make</ion-label>
    </ion-col>
    <ion-col ion-item size="6">
        <ion-select placeholder="Make" class="selectcss" value="{{makeid}}" (ionChange)="ChangeMake($event)">
          <ion-select-option value="{{m.MakeId}}" *ngFor="let m of make">{{m.Make}}</ion-select-option>
        </ion-select>                      
    </ion-col>
  </ion-row>

<ion-row class="rawcss">
  <ion-col ion-item size="6" class="colcss">
    <ion-label class="labelcss">Model </ion-label>
  </ion-col>
  <ion-col ion-item size="6" *ngIf="model">
      <ion-select placeholder="Model" class="selectcss" (ionChange)="ChangeModel($event)" value="{{modelid}}">
          <ion-select-option value="{{modeldetail.ModelId}}" *ngFor="let modeldetail of model">{{modeldetail.Modal}}</ion-select-option>
      </ion-select>                      
  </ion-col>
  </ion-row>

<ion-row class="rawcss">
    <ion-col ion-item size="6" class="colcss">
      <ion-label class="labelcss">Trim </ion-label>
    </ion-col>
    <ion-col ion-item size="6">
        <ion-select placeholder="Trim" class="selectcss" (ionChange)="ChangeTrim($event)" value="{{trimid}}">
            <ion-select-option value="{{trimdetail.TrimId}}" *ngFor="let trimdetail of trim">{{trimdetail.Trim}}</ion-select-option>
        </ion-select>                      
    </ion-col>
</ion-row>

<ion-row class="rawcss">
    <ion-col ion-item size="6" class="colcss">
      <ion-label class="labelcss">Color</ion-label>
    </ion-col>
    <ion-col ion-item size="6">
        <ion-select placeholder="Color" class="selectcss" (ionChange)="ChangeColor($event)" value="{{colorid}}">
          <ion-select-option value="{{color.ColorId}}" *ngFor="let color of colors">{{color.ColorName}}</ion-select-option>
        </ion-select>                      
    </ion-col>
</ion-row>

<ion-row class="rawcss">
    <ion-col ion-item size="6" class="colcss">
      <ion-label class="labelcss">Mileage</ion-label>
    </ion-col>
    <ion-col ion-item size="6">
      <ion-input type='text' placeholder='Mileage' [(ngModel)]='mileage' class="inputcss"></ion-input>
    </ion-col>
  </ion-row>

<ion-row class="rawcss">
    <ion-col ion-item size="6" class="colcss">
      <ion-label class="labelcss">Average Miles/Month</ion-label>
    </ion-col>
    <ion-col ion-item size="6">
      <ion-input type='text' placeholder='Average Miles/Month' [(ngModel)]='avgmileage' class="inputcss"></ion-input>
    </ion-col>
  </ion-row>

  
<ion-row class="rawcss">
    <ion-col ion-item size="6" class="colcss">
      <ion-label class="labelcss">License Plate</ion-label>
    </ion-col>
    <ion-col ion-item size="6">
      <ion-input type='text' placeholder='License Plate' [(ngModel)]='licenseplate' class="inputcss"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top: 8%;margin-right: 10px;" class="btn">
      <ion-col>
          <ion-button expand="full" class="footerbtn" (click)="UpdateVehicleInfo()">Update</ion-button>
      </ion-col>
    </ion-row>