<ion-header>
  <ion-toolbar>
      <!-- <ion-buttons slot="start"  (click)="closeModal()">
          <ion-icon ios="ios-close" md="md-close" style="font-size: 30px;color: #009688"></ion-icon>
        </ion-buttons> -->
    <ion-title>Image</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row *ngIf="captureDataUrl">
    <ion-col *ngFor="let color of colors" [style.background]="color" class="color-block" tappable (click)="selectColor(color)"></ion-col>
  </ion-row>
 

     <ion-radio-group *ngIf="captureDataUrl">
        <ion-row>
          <ion-col *ngFor="let item of colors"  (ionFocus)="radioFocus()"
          (ionSelect)="radioSelect($event)"
          (ionBlur)="radioBlur()">              
          <ion-radio mode="md" item-left  name="{{item}}" 
          value="{{item}}" 
          (ionSelect)="selectColor(item)"></ion-radio>          
           </ion-col>      
      </ion-row>
      </ion-radio-group>
      
  <div class="grid-two imageandtext" style="text-align: center;">
    <div class="imageandtext image_grid">
      <label for="selimg">
        <canvas #layout width="325" height="200" (touchstart)="startDrawing($event)" (touchmove)="moved($event)"></canvas>
      </label>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button ion-button (click)="clearCanvas()">Clear</ion-button>
    <ion-button ion-button (click)="savePad()">Save</ion-button>
  </ion-toolbar>
</ion-footer>
