<ion-header>
    <ion-toolbar>
        <ion-buttons mode="md" slot="start">
            <ion-back-button text="" icon="ios-arrow-back" style="color: #ffffff"></ion-back-button>
        </ion-buttons>
        <ion-title style="color: #ffffff">RO Create</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content style="margin-bottom: 25px;">
    <ion-row style="height:40px;background:#374767;margin-top: 10px;">
        <ion-col style="align-self: center;padding: 0px;">
            <ion-label style="color: white">Repair Order Infomation</ion-label>
        </ion-col>
    </ion-row>

    <ion-row style="margin-top: 10px;padding: 2px;">
        <ion-col size="4" style="border: 1px solid #000;padding: 0px;">
            <ion-row>
                <ion-col style="align-self: center">
                    <ion-label style="font-weight: 700">Customer Detail</ion-label>
                </ion-col>
            </ion-row>

            <ion-row class="rawcss">
                <ion-col style="align-self: center;padding: 0px;" size="1">
                    <ion-icon name="person" class="icons"></ion-icon>
                </ion-col>
                <ion-col ion-item style="align-self: center;padding: 0px;margin-bottom: 3px;" size="5" class="colcss">
                    <ion-label class="labelcss">Customer Name</ion-label>
                </ion-col>
                <ion-col ion-item size="6" style="padding: 0px;">
                    <!-- [(ngModel)]='fname' -->
                    <ion-input type='text' readonly placeholder='Customer Name' [(ngModel)]='fname' class="inputcss"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row class="rawcss">
                <ion-col size="1" style="align-self: center;padding: 0px;">
                    <ion-icon name="pin" class="icons"></ion-icon>
                </ion-col>
                <ion-col ion-item style="align-self: center;padding: 0px;margin-bottom: 3px;" size="5" class="colcss">
                    <ion-label class="labelcss"> Address </ion-label>
                </ion-col>
                <ion-col ion-item size="6" style="padding: 0px;">
                    <!-- [(ngModel)]='address' -->
                    <ion-input type='text' placeholder='Address' [(ngModel)]='saddress' class="inputcss"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row class="rawcss">
                <ion-col size="1" style="align-self: center;padding: 0px;">
                    <ion-icon name="globe" class="icons"></ion-icon>
                </ion-col>
                <ion-col ion-item style="align-self: center;padding: 0px;margin-bottom: 6px;" size="1.5" class="colcss">
                    <ion-label class="labelcss"> State </ion-label>
                </ion-col>
                <ion-col size="3.5" style="padding: 0px;">
                    <ion-select placeholder="State" class="selectcss" (ionChange)="ChangeState($event)" value="{{stateid}}">
                        <ion-select-option value="{{s.StateId}}" *ngFor="let s of state">{{s.StateName}}</ion-select-option>
                    </ion-select>
                </ion-col>
                <ion-col size="1" style="align-self: center;padding: 0px;">
                    <ion-icon name="globe" class="icons"></ion-icon>
                </ion-col>
                <ion-col ion-item style="align-self: center;padding: 0px;margin-bottom: 6px;" size="1.5" class="colcss">
                    <ion-label class="labelcss"> City </ion-label>
                </ion-col>
                <ion-col size="3.5" style="padding: 0px;">
                    <ion-select placeholder="City" class="selectcss" (ionChange)="ChangeCity($event)" value="{{cityid}}">
                        <ion-select-option value="{{cities.CityId}}" *ngFor="let cities of city">{{cities.CityName}}</ion-select-option>
                    </ion-select>
                </ion-col>
            </ion-row>

            <ion-row class="rawcss">
                <ion-col size="1" style="align-self: center;padding: 0px;">
                    <ion-icon name="pin" class="icons"></ion-icon>
                </ion-col>
                <ion-col ion-item style="align-self: center;padding: 0px;margin-bottom: 3px;" size="1.5" class="colcss">
                    <ion-label class="labelcss">Zip</ion-label>
                </ion-col>
                <ion-col ion-item size="3.5" style="padding: 0px;">
                    <!-- [(ngModel)]='zipcode' -->
                    <ion-input type='tel' maxlength="9" [(ngModel)]='zipcode' placeholder='Zipcode' class="inputcss"></ion-input>
                </ion-col>
                <ion-col size="1" style="align-self: center;padding: 0px;">
                    <ion-icon name="call" class="icons"></ion-icon>
                </ion-col>
                <ion-col ion-item style="align-self: center;padding: 0px;margin-bottom: 3px;" size="1.5" class="colcss">
                    <ion-label class="labelcss">Cell</ion-label>
                </ion-col>
                <ion-col ion-item size="3.5" style="padding: 0px;">
                    <!-- [(ngModel)]='zipcode' -->
                    <ion-input type='tel' maxlength="10" placeholder='Cell No' [(ngModel)]='mobile' class="inputcss"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row class="rawcss">
                <ion-col size="1" style="align-self: center;padding: 0px;">
                    <ion-icon name="call" class="icons"></ion-icon>
                </ion-col>
                <ion-col ion-item style="align-self: center;padding: 0px;margin-bottom: 3px;" size="1.5" class="colcss">
                    <ion-label class="labelcss">Work</ion-label>
                </ion-col>
                <ion-col ion-item size="3.5" style="padding: 0px;">
                    <!-- [(ngModel)]='zipcode' -->
                    <ion-input type='tel' maxlength="10" [(ngModel)]='workphone' placeholder='Work' class="inputcss"></ion-input>
                </ion-col>
                <ion-col size="1" style="align-self: center;padding: 0px;">
                    <ion-icon name="call" class="icons"></ion-icon>
                </ion-col>
                <ion-col ion-item style="align-self: center;padding: 0px; margin-bottom: 3px;" size="1.5" class="colcss">
                    <ion-label class="labelcss">Home</ion-label>
                </ion-col>
                <ion-col ion-item size="3.5" style="padding: 0px;">
                    <!-- [(ngModel)]='zipcode' -->
                    <ion-input type='tel' maxlength="10" placeholder='Home' [(ngModel)]='homephone' class="inputcss"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row class="rawcss">
                <ion-col size="1" style="align-self: center;padding: 0px;">
                    <ion-icon name="mail" class="icons"></ion-icon>
                </ion-col>
                <ion-col style="align-self: center;padding: 0px;margin-bottom: 3px;" ion-item size="5" class="colcss">
                    <ion-label class="labelcss">Email</ion-label>
                </ion-col>
                <ion-col ion-item size="6" style="padding: 0px;">
                    <!-- [(ngModel)]='email' -->
                    <ion-input type='text' readonly placeholder='Email' [(ngModel)]='email' class="inputcss"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row class="rawcss">
                <!-- <ion-col size="1" style="align-self: center;padding: 0px;">
            <ion-icon name="mail" class="icons"></ion-icon>
         </ion-col> -->
                <ion-col style="align-self: center;padding: 0px;margin-bottom: 3px;" ion-item size="2.5" class="colcss">
                    <ion-label class="labelcss">Contact Method</ion-label>
                </ion-col>

                <ion-col size="3" style="align-self: center;padding: 0px">
                    <ion-item lines="none">
                        <ion-label class="labelcss">Email</ion-label>
                        <ion-checkbox style="margin:4px" [checked]="emailc" (ionChange)="emailchange($event)" mode="md" slot="start"></ion-checkbox>
                    </ion-item>
                </ion-col>
                <ion-col size="3.5" style="align-self: center;padding: 0px">
                    <ion-item lines="none">
                        <ion-label class="labelcss">Phone</ion-label>
                        <ion-checkbox style="margin:4px" [checked]="phonec" (ionChange)="phonechange($event)" mode="md" slot="start"></ion-checkbox>
                    </ion-item>
                </ion-col>
                <ion-col size="3" style="align-self: center;padding: 0px">
                    <ion-item lines="none">
                        <ion-label class="labelcss">SMS</ion-label>
                        <ion-checkbox style="margin:4px" (ionChange)="smschange($event)" mode="md" slot="start"></ion-checkbox>
                    </ion-item>
                </ion-col>

            </ion-row>
            <!-- <ion-row>
  <ion-col size="5">

  </ion-col>
 
</ion-row> -->


            <ion-row class="rawcss">
                <!-- <ion-col size="1" style="align-self: center;padding: 0px;">
            <ion-icon name="mail" class="icons"></ion-icon>
         </ion-col> -->
                <ion-col style="align-self: center;padding: 0px;margin-bottom: 3px;" ion-item size="5" class="colcss">
                    <ion-label class="labelcss">Business No</ion-label>
                </ion-col>
                <ion-col ion-item size="6" style="padding: 0px;">
                    <!-- [(ngModel)]='email' -->
                    <ion-input type='tel' placeholder='Business No' [(ngModel)]='workphone' class="inputcss"></ion-input>
                </ion-col>
            </ion-row>






            <!-- </ion-col>
    <ion-col size="0.2"> -->

        </ion-col>
        <ion-col size="4" style="border: 1px solid #000;">
            <ion-row>
                <ion-col style="align-self: center;padding: 0px;">
                    <ion-label style="font-weight: 700">Vehicle Detail</ion-label>
                </ion-col>
            </ion-row>

            <ion-row class="rawcss">
                <ion-col size="1" style="align-self: center;padding: 0px;">
                    <ion-icon name="car" class="icons"></ion-icon>
                </ion-col>
                <ion-col ion-item size="5" style="align-self: center;padding: 0px;margin-bottom: 3px;" class="colcss">
                    <ion-label class="labelcss">VIN</ion-label>
                </ion-col>
                <ion-col ion-item size="6" style="align-self: center;padding: 0px;">
                    <ion-input type='text' readonly placeholder='VIN' [(ngModel)]='vin' class="inputcss" [readonly]="true"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row class="rawcss">
                <ion-col size="1" style="align-self: center;padding: 0px;">
                    <ion-icon name="car" class="icons"></ion-icon>
                </ion-col>
                <ion-col ion-item size="5" style="align-self: center;padding: 0px;margin-bottom: 3px;" class="colcss">
                    <ion-label class="labelcss">License Plate</ion-label>
                </ion-col>
                <ion-col ion-item size="6" style="align-self: center;padding: 0px;">
                    <ion-input style="margin-left: 2px" type='text' placeholder='License Plate' [(ngModel)]='licenseplate' class="inputcss"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row class="rawcss">
                <ion-col size="1" style="align-self: center;padding: 0px;">
                    <ion-icon name="calendar" class="icons"></ion-icon>
                </ion-col>
                <ion-col ion-item size="5" style="align-self: center;padding: 0px;margin-bottom: 6px;" class="colcss">
                    <ion-label class="labelcss">Year</ion-label>
                </ion-col>
                <ion-col ion-item size="6" style="align-self: center;padding: 0px;">
                    <ion-select placeholder="Year" class="selectcss" value="{{yearid}}" (ionChange)="ChangeYear($event)">
                        <ion-select-option value="{{y.YearId}}" *ngFor="let y of years">{{y.Year}}</ion-select-option>
                    </ion-select>
                </ion-col>
            </ion-row>

            <ion-row class="rawcss">
                <ion-col size="1" style="align-self: center;padding: 0px;">
                    <ion-icon name="car" class="icons"></ion-icon>
                </ion-col>
                <ion-col ion-item size="5" style="align-self: center;padding: 0px;margin-bottom: 6px;" class="colcss">
                    <ion-label class="labelcss">Make</ion-label>
                </ion-col>
                <ion-col ion-item size="6" style="align-self: center;padding: 0px;">
                    <ion-select placeholder="Make" class="selectcss" value="{{makeid}}" (ionChange)="ChangeMake($event)">
                        <ion-select-option value="{{m.MakeId}}" *ngFor="let m of make">{{m.Make}}</ion-select-option>
                    </ion-select>
                </ion-col>
            </ion-row>

            <ion-row class="rawcss">
                <ion-col size="1" style="align-self: center;padding: 0px;">
                    <ion-icon name="car" class="icons"></ion-icon>
                </ion-col>
                <ion-col ion-item size="5" style="align-self: center;padding: 0px;margin-bottom: 6px;" class="colcss">
                    <ion-label class="labelcss">Model </ion-label>
                </ion-col>
                <ion-col ion-item size="6" style="align-self: center;padding: 0px;" *ngIf="model">
                    <ion-select placeholder="Model" class="selectcss" (ionChange)="ChangeModel($event)" value="{{modelid}}">
                        <ion-select-option value="{{modeldetail.ModelId}}" *ngFor="let modeldetail of model">{{modeldetail.Modal}}</ion-select-option>
                    </ion-select>
                </ion-col>
            </ion-row>

            <ion-row class="rawcss">
                <ion-col size="1" style="align-self: center;padding: 0px;">
                    <ion-icon name="color-filter" class="icons"></ion-icon>
                </ion-col>
                <ion-col ion-item size="5" style="align-self: center;padding: 0px;margin-bottom: 6px;" class="colcss">
                    <ion-label class="labelcss">Color</ion-label>
                </ion-col>
                <ion-col ion-item size="6" style="align-self: center;padding: 0px;">
                    <ion-select placeholder="Color" class="selectcss" (ionChange)="ChangeColor($event)" value="{{colorid}}">
                        <ion-select-option value="{{color.ColorId}}" *ngFor="let color of colors">{{color.ColorName}}</ion-select-option>
                    </ion-select>
                </ion-col>
            </ion-row>
            <ion-row class="rawcss">
                <ion-col size="1" style="align-self: center;padding: 0px;">
                    <ion-icon name="car" class="icons"></ion-icon>
                </ion-col>
                <ion-col ion-item size="5" style="align-self: center;padding: 0px;margin-bottom: 3px;" class="colcss">
                    <ion-label class="labelcss">Stock No</ion-label>
                </ion-col>
                <ion-col ion-item size="6" style="align-self: center;padding: 0px;">
                    <ion-input type='text' readonly placeholder='Stock No' [(ngModel)]='stno' class="inputcss" [readonly]="true"></ion-input>
                </ion-col>
            </ion-row>



        </ion-col>


        <ion-col size="4" style="border: 1px solid #000;">
            <ion-row>
                <ion-col style="align-self: center;padding: 0px;">
                    <ion-label style="font-weight: 700">Detail</ion-label>
                </ion-col>
            </ion-row>
            <ion-row class="rawcss">
                <ion-col style="align-self: center;padding: 0px;" size="1">
                    <ion-icon name="person" class="icons"></ion-icon>
                </ion-col>
                <ion-col ion-item style="align-self: center;padding: 0px;margin-bottom: 3px;" size="5" class="colcss">
                    <ion-label class="labelcss">RO Number</ion-label>
                </ion-col>
                <ion-col ion-item size="6" style="padding: 0px;">

                    <ion-input readonly type='text' [(ngModel)]="rono" placeholder='RO Number' class="inputcss"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row class="rawcss">
                <ion-col style="align-self: center;padding: 0px;" size="1">
                    <ion-icon name="person" class="icons"></ion-icon>
                </ion-col>
                <ion-col ion-item style="align-self: center;padding: 0px;margin-bottom: 3px;" size="5" class="colcss">
                    <ion-label class="labelcss">RO Date</ion-label>
                </ion-col>
                <ion-col ion-item size="6" style="padding: 0px;">

                    <ion-input readonly type='text' [(ngModel)]="rodate" placeholder='RO Date' class="inputcss"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row class="rawcss">
                <ion-col style="align-self: center;padding: 0px;" size="1">
                    <ion-icon name="person" class="icons"></ion-icon>
                </ion-col>
                <ion-col ion-item style="align-self: center;padding: 0px;margin-bottom: 6px;" size="5" class="colcss">
                    <ion-label class="labelcss">SA Name</ion-label>
                </ion-col>
                <ion-col *ngIf="sid" style="align-self: center;padding: 0px" class="rawcss" size="6">
                    <ion-select class="selectcss" placeholder="Select SA" (ionChange)="Changesa($event)" style="max-width: 100%;font-weight: 100;font-weight: 400;"
                        value="{{sid}}">
                        <ion-select-option style="white-space: normal;" *ngFor="let data of advisordata" value="{{data.pkEmployeeId}}">{{data.SAName}}</ion-select-option>
                    </ion-select>
                </ion-col>
                <!-- <ion-col ion-item size="6" style="padding: 0px;">
                
                <ion-input type='text'  placeholder='SA Name' [(ngModel)]='saname'  class="inputcss"></ion-input>
            </ion-col> -->
            </ion-row>
            <ion-row class="rawcss">
                <ion-col style="align-self: center;padding: 0px;" size="1">
                    <ion-icon name="person" class="icons"></ion-icon>
                </ion-col>
                <ion-col ion-item style="align-self: center;padding: 0px;margin-bottom: 3px;" size="5" class="colcss">
                    <ion-label class="labelcss">SA No</ion-label>
                </ion-col>

                <ion-col ion-item size="6" style="padding: 0px;">

                    <ion-input type='tel' readonly placeholder='SA No' [(ngModel)]='sno' class="inputcss"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row class="rawcss">
                <ion-col style="align-self: center;padding: 0px;" size="1">
                    <ion-icon name="car" class="icons"></ion-icon>
                </ion-col>
                <ion-col size="5" style="align-self: center;padding: 0px;margin-bottom: 3px;">
                    <ion-label class="labelcss">Mileage In</ion-label>
                </ion-col>
                <ion-col size="6" style="align-self: center;padding: 0px">
                    <ion-input max="999999" min="0" maxlength="6" type='tel' placeholder='Mileage In' [(ngModel)]='min' class="inputcss" (ionBlur)="getmil()"></ion-input>
                </ion-col>
            </ion-row>
            <!-- <ion-row class="rawcss">
            <ion-col style="align-self: center;padding: 0px;" size="1">
                    <ion-icon name="car" class="icons"></ion-icon>
            </ion-col>
            <ion-col ion-item style="align-self: center;padding: 0px;" size="5" class="colcss">
                <ion-label class="labelcss">Mileage In</ion-label>
            </ion-col>
            <ion-col ion-item size="6" style="padding: 0px;">
               
                <ion-input type='tel'  placeholder='Mileage In' [(ngModel)]='min'  class="inputcss"></ion-input>
            </ion-col>
        </ion-row> -->

            <ion-row class="rawcss">
                <ion-col style="align-self: center;padding: 0px;" size="1">
                    <ion-icon name="car" class="icons"></ion-icon>
                </ion-col>
                <ion-col ion-item style="align-self: center;padding: 0px;margin-bottom: 3px;" size="5" class="colcss">
                    <ion-label class="labelcss">Mileage Out</ion-label>
                </ion-col>
                <ion-col ion-item size="6" style="padding: 0px;">
                    <!-- [(ngModel)]='fname' -->
                    <ion-input type='tel' placeholder='Mileage Out' (ionBlur)="getmout()" [(ngModel)]='mout' class="inputcss"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row class="rawcss">
                <ion-col style="align-self: center;padding: 0px;" size="1">
                    <ion-icon name="car" class="icons"></ion-icon>
                </ion-col>
                <ion-col ion-item style="align-self: center;padding: 0px;margin-bottom: 3px;" size="5" class="colcss">
                    <ion-label class="labelcss">Tag Number</ion-label>
                </ion-col>
                <ion-col ion-item size="6" style="padding: 0px;">
                    <!-- [(ngModel)]='fname' -->
                    <ion-input type='tel' placeholder='Tag Number' [(ngModel)]='tagno' class="inputcss"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row class="rawcss">
                <ion-col style="align-self: center;padding: 0px;" size="1">
                    <ion-icon name="car" class="icons"></ion-icon>
                </ion-col>
                <ion-col ion-item style="align-self: center;padding: 0px;margin-bottom: 3px;" size="5" class="colcss">
                    <ion-label class="labelcss">PO Number</ion-label>
                </ion-col>
                <ion-col ion-item size="6" style="padding: 0px;">
                    <!-- [(ngModel)]='fname' -->
                    <ion-input type='tel' placeholder='PO Number' [(ngModel)]='pono' class="inputcss"></ion-input>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>

    <ion-row style="height:40px;background:#374767;margin-top: 10px;">
        <ion-col style="align-self: center;padding: 0px;">
            <ion-label style="color: white">Service Infomation</ion-label>
        </ion-col>
    </ion-row>

    <ion-row style="margin-top: 10px;padding: 2px;">
        <ion-col size="4" style="border: 1px solid #000;padding: 0px;">
            <ion-row>
                <ion-col style="align-self: center">
                    <ion-label style="font-weight: 700">RO Type</ion-label>
                </ion-col>
            </ion-row>
            <ion-radio-group [(ngModel)]="roselect" (ionChange)="radioGroupChange($event)">
                <ion-row>
                    <ion-col size="6" style="align-self: center;padding: 0px;">
                        <ion-item lines="none">
                            <ion-label class="labelcss">High Priority</ion-label>
                            <ion-radio mode="md" slot="start" value="hp"></ion-radio>
                        </ion-item>
                    </ion-col>
                    <ion-col size="6" style="align-self: center;padding: 0px;">
                        <ion-item lines="none">
                            <ion-label class="labelcss">Waiter</ion-label>
                            <ion-radio mode="md" slot="start" value="p"></ion-radio>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size="6" style="align-self: center;padding: 0px;">
                        <ion-item lines="none">
                            <ion-label class="labelcss">Come Back</ion-label>
                            <ion-radio mode="md" slot="start" value="cb"></ion-radio>
                        </ion-item>
                    </ion-col>
                    <ion-col size="6" style="align-self: center;padding: 0px;">
                        <ion-item lines="none">
                            <ion-label class="labelcss">Appointment With Non-Waiter</ion-label>
                            <ion-radio mode="md" slot="start" value="awnw"></ion-radio>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size="6" style="align-self: center;padding: 0px;">
                        <ion-item lines="none">
                            <ion-label class="labelcss">Appointment With Waiter</ion-label>
                            <ion-radio mode="md" slot="start" value="aww"></ion-radio>
                        </ion-item>
                    </ion-col>
                    <ion-col size="6" style="align-self: center;padding: 0px;">
                        <ion-item lines="none">
                            <ion-label class="labelcss">Non Waiter</ion-label>
                            <ion-radio mode="md" slot="start" value="nw"></ion-radio>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-radio-group>

            <ion-row>
                <ion-col size="5" style="align-self: center;padding: 0px;">
                    <ion-item lines="none">
                        <ion-label class="labelcss">Rental</ion-label>
                        <ion-checkbox [(ngModel)]="rent" [ngClass]="{chkdisable : (isrental)}" (ionChange)="rentalchange($event)" mode="md" slot="start"></ion-checkbox>
                    </ion-item>
                </ion-col>
                <!-- <ion-col size="3.5" style="align-self: center;padding: 0px;">
       <ion-label class="labelcss">Provider Name</ion-label>
      </ion-col>
      <ion-col size="3.5" style="align-self: center;padding: 0px;">
      </ion-col> -->
            </ion-row>
        </ion-col>
        <ion-col size="4" style="border: 1px solid #000;">
            <ion-row>
                <ion-col style="align-self: center;padding: 0px;">
                    <ion-label style="font-weight: 700">Warranty Details</ion-label>
                </ion-col>
            </ion-row>

            <ion-row style="margin-top: 10px;">
                <ion-col size="6" style="align-self: center;padding: 0px;">
                    <ion-label class="labelcss">Start Date</ion-label>
                </ion-col>
                <ion-col class="rawcss" size="6" style="align-self: center;padding: 0px;">
                    <ion-datetime style="font-size: 12px" max="2025-12-31" placeholder='Start Date' [(ngModel)]="wsdate" displayFormat="MM/DD/YYYY"
                        pickerFormat="MMMM DD YYYY" [min]="currentdate" (ionChange)="ChangeDate($event)"></ion-datetime>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="6" style="align-self: center;padding: 0px;">
                    <ion-label class="labelcss">End Date</ion-label>
                </ion-col>
                <ion-col class="rawcss" size="6" style="align-self: center;padding: 0px;">
                    <ion-datetime style="font-size: 12px" max="2025-12-31" placeholder='End Date' [(ngModel)]="wedate" displayFormat="MM/DD/YYYY"
                        pickerFormat="MMMM DD YYYY" [min]="currentdate" (ionChange)="ChangeDate1($event)"></ion-datetime>
                </ion-col>
            </ion-row>
        </ion-col>


        <ion-col size="4" style="border: 1px solid #000;">
            <ion-row>
                <ion-col style="align-self: center;padding: 0px;">
                    <ion-label style="font-weight: 700">RO Notes</ion-label>
                </ion-col>
            </ion-row>

            <ion-row style="margin-top: 10px;padding: 10px;border: 1px solid #000;height:200px">
                <ion-item lines="none">
                    <ion-textarea style="font-size: 12px" [(ngModel)]="rnotes" placeholder="Enter Notes here..."></ion-textarea>
                </ion-item>
            </ion-row>
        </ion-col>
    </ion-row>



    <ion-row style="height:40px;background:#374767;margin-top: 10px;">
        <ion-col style="align-self: center;padding: 0px;">
            <ion-label style="color: white">Labor Infomation</ion-label>
        </ion-col>
    </ion-row>

    <ion-row style="margin-top: 10px;padding: 2px;">
        <ion-col style="border: 1px solid #000;padding: 0px;">
            <ion-row>
                <ion-col style="align-self: center">
                    <ion-label style="font-weight: 700">Labor Details</ion-label>
                </ion-col>
            </ion-row>

            <ion-row style="margin-top: 10px;">
                <ion-col size="9">
                    <ion-row>
                        <ion-col style="align-self: center;padding: 0px" size="1.5">
                            <ion-label class="labelcss">Repair Line</ion-label>
                        </ion-col>
                        <ion-col style="align-self: center;padding: 0px;border: 1px solid #000" class="rawcss" size="1.5">
                            <ion-item>
                                <ion-label class="labelcss" style="pointer-events: none;">{{rline}}</ion-label>
                                <ion-icon name="arrow-down" slot="end" style="color: #ddd;font-size: 18px;"></ion-icon>
                            </ion-item>
                        </ion-col>
                        <ion-col style="align-self: center;padding: 10px;" size="1.5">
                            <ion-label class="labelcss">Customer Complaint</ion-label>
                        </ion-col>
                        <ion-col size="6" style="border: 1px solid #000;align-self: center;padding: 0px;">
                            <ion-item lines="none">
                                <ion-textarea style="font-size: 12px;height: 75px" [(ngModel)]="cc" placeholder=""></ion-textarea>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col style="align-self: center;padding: 0px" size="1.5">
                            <ion-label class="labelcss">Repair Code</ion-label>
                        </ion-col>
                        <ion-col style="align-self: center;padding: 0px" class="rawcss" size="1.5">
                            <ion-input [ngClass]="{rcdisable : (isrc)}" type='text' [(ngModel)]="rcode" placeholder='Repair Code' (ionBlur)="getop()"
                                class="inputcss"></ion-input>
                        </ion-col>
                        <ion-col style="align-self: center;padding: 10px;" size="1.5">
                            <ion-label class="labelcss">Description</ion-label>
                        </ion-col>
                        <ion-col style="align-self: center;padding: 0px;pointer-events: none" class="rawcss" size="6">
                            <ion-input type='text' [(ngModel)]="opdesc" placeholder='Description' class="inputcss"></ion-input>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col style="align-self: center;padding: 0px" size="1.5">
                            <ion-label class="labelcss">Labor Type</ion-label>
                        </ion-col>
                        <ion-col style="align-self: center;padding: 0px" class="rawcss" size="1.5">
                            <ion-select class="selectcss" [(ngModel)]="laname" placeholder="Select One" (ionChange)="Changelabour($event)" style="max-width: 100%;font-weight: 100;font-weight: 400;">
                                <ion-select-option style="white-space: normal;" *ngFor="let lab of laourdata" value="{{lab.PayType}}">{{lab.PayType}}</ion-select-option>
                            </ion-select>
                        </ion-col>
                        <ion-col style="align-self: center;padding: 10px;" size="1.5">
                            <ion-label class="labelcss">Tech No</ion-label>
                        </ion-col>
                        <ion-col [ngClass]="{techdisable : (istech)}" style="align-self: center;padding: 0px" class="rawcss" size="1.5">
                            <ion-select class="selectcss" [(ngModel)]="tecname" placeholder="Select One" (ionChange)="Changetech($event)" style="max-width: 100%;font-weight: 100;font-weight: 400;"
                                value="{{techno}}">
                                <ion-select-option style="white-space: normal;" *ngFor="let tech of techdata" value="{{tech.Number}}">{{tech.TechnicianName}}</ion-select-option>
                            </ion-select>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col style="align-self: center;padding: 0px" size="1.5">
                            <ion-label class="labelcss">Hours</ion-label>
                        </ion-col>
                        <ion-col style="align-self: center;padding: 0px" class="rawcss" size="1.5">
                            <ion-input style="margin-left: 0px" maxlength="5" inputmode="decimal" placeholder='Sold Hours' [(ngModel)]="shours" class="inputcss"
                                (ionBlur)="changehour($event)"></ion-input>
                        </ion-col>
                        <ion-col style="align-self: center;padding: 10px;" size="1.5">
                            <ion-label class="labelcss">Line Estimate</ion-label>
                        </ion-col>
                        <ion-col style="align-self: center;padding: 0px" class="rawcss" size="1.5">
                            <ion-input readonly style="margin-left:0px" [(ngModel)]="linees" inputmode="decimal" placeholder='Line Estimate' class="inputcss"></ion-input>
                        </ion-col>
                    </ion-row>

                    <ion-row style="margin-top: 10px;">
                        <ion-col size="2" *ngIf="!roedit || !itech">
                            <ion-button size="small" style="width: 70%;--background:#374767" (click)="addro()">Add</ion-button>
                        </ion-col>
                        <ion-col size="2" *ngIf="roedit && itech">
                            <ion-button size="small" style="width: 70%;--background:#374767" (click)="updatero()">Update</ion-button>
                        </ion-col>
                        <ion-col size="2">
                            <ion-button size="small" style="width: 70%;--background:#374767" (click)="reset()">Reset</ion-button>
                        </ion-col>
                        <ion-col size="2" *ngIf="roedit">
                            <ion-button size="small" style="width: 70%;--background:#374767" (click)="addsublet()">Add Sublet</ion-button>
                        </ion-col>
                        <ion-col size="2" *ngIf="roedit">
                            <ion-button size="small" style="width: 70%;--background:#374767" (click)="addmisc()">Add Misc.</ion-button>
                        </ion-col>
                        <ion-col size="2" *ngIf="roedit">
                            <ion-button size="small" style="width: 70%;--background:#374767" (click)="partsublet()">Part Sublet</ion-button>
                        </ion-col>
                        <ion-col size="2" *ngIf="roedit">
                            <ion-button size="small" style="width: 70%;--background:#374767" (click)="adddisc()">Add Disc.</ion-button>
                        </ion-col>
                    </ion-row>


                    <!-- <ion-row >
                    <ion-button size="small" (click)="updatero()">Update</ion-button>
                </ion-row> -->

                    <!-- <ion-row class="rawcss">
                        <ion-col style="align-self: center;padding: 0px" size="3">
                          <ion-label>Nature Desc.</ion-label>
                        </ion-col>
                        <ion-col style="align-self: center;padding: 0px" size="3">
                           <ion-label>Nature Desc.</ion-label>
                         </ion-col>
                         <ion-col style="align-self: center;padding: 0px" size="3">
                             <ion-label>Compaign No</ion-label>
                           </ion-col>
                           <ion-col style="align-self: center;padding: 0px" size="3">
                               <ion-label>Compaign No</ion-label>
                             </ion-col>
                      </ion-row> -->
                    <!-- <ion-row class="rawclass">
                          <ion-col size="3">
                            <ion-label>Sublet Vendor</ion-label>
                          </ion-col>
                          <ion-col size="3">
                             <ion-label>Sublet Vendor</ion-label>
                           </ion-col>
                           <ion-col size="3"> -->
                    <!-- <ion-label>Compaign No</ion-label> -->
                    <!-- </ion-col> -->
                    <!-- <ion-col size="3"> -->
                    <!-- <ion-label>Compaign No</ion-label> -->
                    <!-- </ion-col> -->
                    <!-- </ion-row> -->
                </ion-col>
                <ion-col size="3" *ngIf="dealername == 'WESTSIDE KIA'">
                    <ion-row>
                        <ion-col style="align-self: center">
                            <ion-label>Quick Add Opcode</ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col style="text-align: center" col-1.5>
                            <ion-button (click)="addcode('QL')" style="width: 50%;--background:#374767" size="small">QL</ion-button>
                        </ion-col>
                        <ion-col col-1.5>
                            <ion-button (click)="addcode('CIS')" style="width: 50%;--background:#374767" size="small">CIS</ion-button>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col style="text-align: center" col-1.5>
                            <ion-button (click)="addcode('QLRT')" style="width: 50%;--background:#374767" size="small">QLRT</ion-button>
                        </ion-col>
                        <ion-col col-1.5>
                            <ion-button (click)="addcode('SIE')" style="width: 50%;--background:#374767" size="small">SIE</ion-button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col style="text-align: center" col-1.5>
                            <ion-button (click)="addcode('15K')" style="width: 50%;--background:#374767" size="small">15K</ion-button>
                        </ion-col>
                        <ion-col col-1.5>
                            <ion-button (click)="addcode('CF')" style="width: 50%;--background:#374767" size="small">CF</ion-button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col style="text-align: center" col-1.5>
                            <ion-button (click)="addcode('30K')" style="width: 50%;--background:#374767" size="small">30K</ion-button>
                        </ion-col>
                        <ion-col col-1.5>
                            <ion-button (click)="addcode('27KCP1')" style="width: 50%;--background:#374767" size="small">27KCP1</ion-button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col style="text-align: center" col-1.5>
                            <ion-button (click)="addcode('FBS')" style="width: 50%;--background:#374767" size="small">FBS</ion-button>
                        </ion-col>
                        <ion-col col-1.5>
                            <ion-button (click)="addcode('WC')" style="width: 50%;--background:#374767" size="small">WC</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-col>

                <ion-col size="3" *ngIf="dealername == 'MONROEVILLE KIA'">
                    <ion-row>
                        <ion-col style="align-self: center">
                            <ion-label>Quick Add Opcode</ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col style="text-align: center" col-1.5>
                            <ion-button (click)="addcode('KCP2')" style="width: 50%;--background:#374767" size="small">KCP2</ion-button>
                        </ion-col>
                        <ion-col col-1.5>
                            <ion-button (click)="addcode('KCP1')" style="width: 50%;--background:#374767" size="small">KCP1</ion-button>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col style="text-align: center" col-1.5>
                            <ion-button (click)="addcode('CW')" style="width: 50%;--background:#374767" size="small">CW</ion-button>
                        </ion-col>
                        <ion-col col-1.5>
                            <ion-button (click)="addcode('TRKCPI')" style="width: 50%;--background:#374767" size="small">TRKCPI</ion-button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col style="text-align: center" col-1.5>
                            <ion-button (click)="addcode('BULB')" style="width: 50%;--background:#374767" size="small">BULB</ion-button>
                        </ion-col>
                        <ion-col col-1.5>
                            <ion-button (click)="addcode('ETE')" style="width: 50%;--background:#374767" size="small">ETE</ion-button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col style="text-align: center" col-1.5>
                            <ion-button (click)="addcode('LOF')" style="width: 50%;--background:#374767" size="small">LOF</ion-button>
                        </ion-col>
                        <ion-col col-1.5>
                            <ion-button (click)="addcode('NC')" style="width: 50%;--background:#374767" size="small">NC</ion-button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col style="text-align: center" col-1.5>
                            <ion-button (click)="addcode('ET')" style="width: 50%;--background:#374767" size="small">ET</ion-button>
                        </ion-col>
                        <ion-col col-1.5>
                            <ion-button (click)="addcode('PI1802')" style="width: 50%;--background:#374767" size="small">PI1802</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>

    <ion-row style="margin-top: 10px;padding: 2px;">
        <ion-col size="1.5">
            <ion-label class="labelcss">Total Estimate</ion-label>
        </ion-col>
        <ion-col size="2" style="border: 1px solid #000;height: 30px">
            <ion-label class="labelcss">$ {{totalesti}}</ion-label>
        </ion-col>
        <ion-col size="2">
            <ion-label class="labelcss">Promise date and time</ion-label>
        </ion-col>
        <ion-col size="2" style="border: 1px solid #000;height:30px">
            <ion-datetime style="font-size: 12px;margin:-10px;" max="2025-12-31" placeholder='End Date' [(ngModel)]="pdate" displayFormat="MM/DD/YYYY"
                pickerFormat="MMMM DD YYYY" [min]="currentdate" (ionChange)="ChangeDatep($event)"></ion-datetime>
        </ion-col>
        <ion-col style="margin-top: -8px">
            <ion-button (click)="continue()" style="width: 50%;--background:#374767" size="small">Create RO</ion-button>
        </ion-col>
        <ion-col style="margin-top: -8px">
            <ion-button (click)="voidro()" style="width: 50%;--background:#374767" size="small">Void RO</ion-button>
        </ion-col>

        <!-- <ion-row style="margin-top: 10px;">
            <ion-button style="width: 100%" size="small" (click)="continue()">Continue</ion-button>
        </ion-row> -->
    </ion-row>

    <ion-row style="margin-top: 10px;padding: 2px;">
        <ion-col size="0.5" style="border: 1px solid #000">
            <ion-label class="labelcss" style="font-weight: 800">Line</ion-label>
        </ion-col>

        <ion-col size="0.9" style="border: 1px solid #000">
            <ion-label class="labelcss" style="font-weight: 800">Code</ion-label>
        </ion-col>

        <ion-col size="1" style="border: 1px solid #000">
            <ion-label class="labelcss" style="font-weight: 800">Labor Type</ion-label>
        </ion-col>
        <ion-col size="1" style="border: 1px solid #000">
            <ion-label class="labelcss" style="font-weight: 800">Tech No.</ion-label>
        </ion-col>
        <ion-col size="1" style="border: 1px solid #000">
            <ion-label class="labelcss" style="font-weight: 800">Line Estmt</ion-label>
        </ion-col>
        <ion-col size="1.7" style="border: 1px solid #000">
            <ion-label class="labelcss" style="font-weight: 800">Chng Line Estmt</ion-label>
        </ion-col>
        <ion-col size="1" style="border: 1px solid #000">
            <ion-label class="labelcss" style="font-weight: 800">Cost Estmt</ion-label>
        </ion-col>
        <ion-col size="1" style="border: 1px solid #000">
            <ion-label class="labelcss" style="font-weight: 800">Misc. Cost</ion-label>
        </ion-col>
        <ion-col size="1" style="border: 1px solid #000">
            <ion-label class="labelcss" style="font-weight: 800">Misc. Sale</ion-label>
        </ion-col>
        <ion-col size="0.7" style="border: 1px solid #000">
            <ion-label class="labelcss" style="font-weight: 800">Hours</ion-label>
        </ion-col>
        <ion-col size="0.5" style="border: 1px solid #000">
            <ion-label class="labelcss" style="font-weight: 800">Edit</ion-label>
        </ion-col>
        <ion-col size="0.7" style="border: 1px solid #000">
            <ion-label class="labelcss" style="font-weight: 800">Delete</ion-label>
        </ion-col>

    </ion-row>
    <div *ngIf="addrolist != undefined || addrolist != ''">
        <ion-row style="padding: 2px;" *ngFor="let data of addrolist;let i = index ">
            <ion-col size="0.5" style="border: 1px solid #000">
                <ion-label class="labelcss">{{data.Line}}</ion-label>
            </ion-col>

            <ion-col size="0.9" style="border: 1px solid #000">
                <ion-label class="labelcss">{{data.OpCode}}</ion-label>
            </ion-col>

            <ion-col size="1" style="border: 1px solid #000">
                <ion-label class="labelcss">{{data.LaborType}}</ion-label>
            </ion-col>
            <ion-col size="1" style="border: 1px solid #000">
                <ion-label class="labelcss">{{data.TechNo}}</ion-label>
            </ion-col>
            <ion-col size="1" style="border: 1px solid #000">
                <ion-label class="labelcss">$ {{data.LineEstimate}}</ion-label>
            </ion-col>
            <ion-col size="1.7" style="border: 1px solid #000">
                <ion-label class="labelcss">$ {{data.ChangedLineEstimate}}</ion-label>
            </ion-col>
            <ion-col size="1" style="border: 1px solid #000">
                <ion-label class="labelcss">$ {{data.CostEstimate}}</ion-label>
            </ion-col>
            <ion-col size="1" style="border: 1px solid #000">
                <ion-label class="labelcss">$ {{data.MiscCost}}</ion-label>
            </ion-col>
            <ion-col size="1" style="border: 1px solid #000">
                <ion-label class="labelcss">$ {{data.MiscSale}}</ion-label>
            </ion-col>
            <ion-col size="0.7" style="border: 1px solid #000">
                <ion-label class="labelcss">{{data.SoldHours}}</ion-label>
            </ion-col>
            <ion-col size="0.5" style="border: 1px solid #000;text-align: center">
                <ion-icon name="create" (click)="edit(data)"></ion-icon>
            </ion-col>
            <ion-col size="0.7" style="border: 1px solid #000;text-align: center">
                <ion-icon name="trash" (click)="delete(data)"></ion-icon>
            </ion-col>

        </ion-row>

       
    </div>

</ion-content>