<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="ios-arrow-back" style="color: #ffffff"></ion-back-button>
        </ion-buttons>
        <ion-title style="color: #ffffff">Appointment</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-radio-group (ionChange)="radioGroupChange($event)">
        <ion-row>
            <ion-col size="6" style="align-self: center;padding: 0px">
                <ion-item lines="none">
                    <ion-label>Appointment</ion-label>
                    <ion-radio style="margin:4px" value="appt" mode="md" slot="start"></ion-radio>
                </ion-item>
            </ion-col>
            <ion-col size="6" style="align-self: center;padding: 0px">
                <ion-item lines="none">
                    <ion-label>RO</ion-label>
                    <ion-radio style="margin:4px" value="ro" mode="md" slot="start"></ion-radio>
                </ion-item>
            </ion-col>

        </ion-row>
    </ion-radio-group>
    <ion-row>
        <ion-col ion-item size="6" *ngIf="selectval == 'appt' || selectval == undefined">
            <ion-datetime class="rawcss" max="2025-12-31" placeholder='Select Date' [(ngModel)]="currentdate" displayFormat="MM/DD/YYYY"
                pickerFormat="MMMM DD YYYY" style="padding: 9px"></ion-datetime>
        </ion-col>
        <ion-col ion-item size="6" *ngIf="selectval == 'ro'">
            <ion-input class="rawcss" placeholder="Enter RO#" [(ngModel)]="rono"></ion-input>
        </ion-col>
        <ion-col ion-item size="6">
            <ion-input class="rawcss" placeholder="Enter VIN" [(ngModel)]="vin" maxlength="17" minlength="17"></ion-input>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col ion-item size="6">
            <ion-input class="rawcss" placeholder="Enter First Name" [(ngModel)]="fname"></ion-input>
        </ion-col>
        <ion-col ion-item size="6">
            <ion-input class="rawcss" placeholder="Enter Last Name" [(ngModel)]="lname"></ion-input>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col style="text-align: center;">
            <ion-button class="footerbtn" (click)="SearchAppointment()">Search</ion-button>
        </ion-col>
    </ion-row>


    <ion-list style="margin-left: 5px;margin-right: 5px;display: contents;" *ngIf="appointmentlist != null && IsShow == true">
        <ion-item *ngFor="let item of appointmentlist" (click)="GoToNext(item.AppointmentId,item.VIN,item.PkRONumber)">
            <ion-row>
                <ion-col>
                    <ion-label>
                        <h4>
                            <b>{{item.PatientName}}</b>
                        </h4>
                        <h3>
                            <b>VIN: </b>{{item.VIN}}</h3>
                        <h3>
                            <b>Year: </b>{{item.Year}}</h3>
                        <h3>
                            <b>Make: </b>{{item.Make}}</h3>
                        <h3>
                            <b>Model: </b>{{item.Model}}</h3>
                    </ion-label>
                </ion-col>
            </ion-row>
        </ion-item>

    </ion-list>

    <p *ngIf="appointmentlist == null && IsShow == true" style="text-align: center;font-size: 17px;color: red;">No Data Found</p>
</ion-content>